<form [formGroup]="myForm" class="container-fluid">

    Value: {{ myForm.value | json }}

    <hr>
<div class="container-fluid">
   <div class="form-group row">
        <label>Name</label>
        <input formControlName="name">
   </div>

    <div class="form-group row">
        <label>Email</label>
        <input formControlName="email" type="email">
    </div>

    <div class="form-group row">
        <label>Date of Birth</label>
        <input  formControlName="age" type="date">
    </div>

    <div class="form-group row">
        <label>Height</label>
        <input  formControlName="height">
    </div>

    <div class="form-group row">
        <label>Weight</label>
        <br>
        <input formControlName="weight" type="number">
    </div>
</div>
<button class="btn btn-primary" type="submit">Submit form</button>
</form>
