<form [formGroup]="myForm" class="container-fluid">

    Value: {{ myForm.value | json }}

    <hr>
<div class="container-fluid">
   
    <div class="form-group row">
        <label>Goals</label>
        <input  formControlName="Goals">
    </div>

    <div class="form-group row">
        <label>Weight</label>
        <br>
        <input formControlName="weight" type="number">
    </div>
</div>
<button class="btn btn-primary" type="submit">Submit form</button>
<p>{{weightcomponent.value['Goals']}}  {{weightcomponent.value['Weight']}}</p>
</form>
